<p>Add a new name:</p>

<form action="/name" method="post">
  <label for="newName">Put Your Pets Name Here</label>
  <input id="newName" name="newName" type="text">

  <button type="submit" class="btn btn-default">Set name</button>
</form>
